@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 10, 37);
}
main{
    min-height: 100vh;
    position: relative;
    

}
body{
    background: url(imagens/fundo-azul.jpg) no-repeat left bottom;
    background-size: cover;
    background-attachment: fixed;
    
}
section#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 255px;
    height: 510px;
    background: url(imagens/iphone12p.png);
    background-repeat: no-repeat;
    background-position: center;
}
iframe{
    position: relative;
    top: 16px;
    left: 16px;
    width: 224px;
    height: 480px;
    border-radius: 15px;
    background-color: black;
    
    
}
section#social{
    text-align: right;
}

section#social img{
    width: 50px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
}
section#social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.836);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.4s ;
    transition: border 0.2s;

}
.fade-in{
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to{ opacity: 1;}
}